/* farben
Red-Orange: #ea4b2f
Bright Orange: #ff6b35
White: #ffffff
Cream: #fffaec
Light Gray: #ced4da
Beige: #f9f2de
Soft Green: #aadcb0
Very Light Mint: #d7f8db

*/

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    background-color: #fffaec;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Header */

header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;   
}

header h1{
    color: #ea4b2f;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px; 
    padding-bottom: 10px;
    border-bottom: 4px solid #aadcb0; 
   
}
.tagline{
     font-size: 15px;
     margin-top: -10px;
}

/* Main */

main{
    
  width:90%;
  margin:30px auto;
  background-color:#ffffff;
  border-radius: 20px;
  padding-bottom: 30px;
  box-shadow:0 10px 25px rgba(0,0,0,0.10);
}

/* Recipe-Header */

.recipe-header{
    background-color: #ff6b35;
    padding: 30px;
    border-radius: 20px 20px 0 0;  
}
.recipe-header h2{
    color: #ffffff ;
    font-size: 28px;
    margin-bottom: 15px;
}

.recipe-header p{
    font-size: 14px;
    background-color: #f9f2de;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    line-height: 1.6;
}
/* Portion Section */

.portions-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
    flex-wrap: wrap;

}
.portions-section label{
    background-color: #d7f8db;
    padding: 10px 14px;
    border-radius: 6px;
    font-weight: bold;
}

.portions-section input{
    width: 40px;
    padding: 4px;
    border: 1px solid #ea4b2f;
    text-align: center;
    
}

/* Recipe Body + Ingredients */

.recipe-body{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 20px;
    align-items: stretch;
}
.ingredients{
    width: 100%;
    background:#f9f2de;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08)
    
}
.ingredients h3{
    font-size: 20px;
    color: rgba(93, 101, 109, 0.769) ;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 2px solid #aadcb0;
}

.ingredients ul{
    list-style: none;

}
.ingredients li{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    gap: 10px;
    
}

.ingredients li span:last-child{
    font-weight: bold;

}

/* Instructions */

.instructions{
    text-align: left;
}
.instructions h4{
    font-size: 26px;
    margin-bottom: 15px;
    border-bottom: 2px solid #aadcb0;
    padding:8px;
}
.instructions ol{
    padding-left: 22px;
}
.instructions li{

  position: relative;
  margin-bottom:18px;
  line-height:1.7;
  padding-left:10px;

  
  
}  
.instructions li::before{
  content:"";
  
  position:absolute;
  
  left:-26px;
  top:4px;
  width:8px;
  height:70%;
  border-left:4px solid #aadcb0;
  border-radius:10px;
}



