@font-face {
    font-family: 'dancing';
    src: url(Projektordner/fonts/dancing-script-v29-latin-500.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'dancing2';
    src: url(Projektordner/fonts/dancing-script-v29-latin-500.woff) format("woff");
    font-weight: 500;
    font-style: italic;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #111;
    

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: 64px;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1000;
    

}
.logo{
    font-family: 'dancing';
    font-size: 45px;
    font-weight: 500;
}
header nav{
    display: flex;
    align-items: center;

}
header nav a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    
}
.login{
    background: #0095f6;
    color: #ffff;
    padding: 10px 18px;
    border-radius: 10px;
    margin-right: 12px;
}
.register{
    background: #0095f6;
    color: #ffff;
    padding: 10px 18px;
    border-radius:10px;
    
}
.content{
    width: 1200px;
    margin: 0 auto;
    padding-top: 96px;    
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    
}
.page-title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom:24px;
}
.tags{
    display: flex;
    margin-bottom: 26px;

}
.tags span{
   background: #efefef;
   padding: 10px 16px;
   border-radius: 12px;
   font-size: 14px;
   font-weight: 700;
   margin-right: 12px;
    
}

.page-title{
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 30px;
}
.explore-section{
    margin-top: 10px;
    margin-bottom: 18px;
}
.section-title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 12px;
}
.arrow{
    font-weight: 900;
    margin-left: 6px;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
 .post-tall, .post-short{
    width: 176px;
    border-radius: 14px;
    overflow: hidden;
    background:  #e6e6e6;

    margin-right: 12px;
    margin-bottom: 12px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.posts > div:nth-child(6n) {
  margin-right: 0;
}
.post-tall{
    height: 310px;
}
.post-short{
    height: 260px;
}
.post-tall img,.post-short img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}
/* label/Etikett */
.label{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 12px 12px;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.1;

    background: linear-gradient(
    to top,
    rgba(0,0,0,0.65) 0%,
    rgba(0,0,0,0.25) 55%,
    rgba(0,0,0,0.00) 100%
  );
  text-shadow: 0 1px 2px rgba(4, 4, 4, 0.08) ;
}

    



 




