/* About */
#about{
   background-color:@color-background;
   padding: 60px 0;
   gap: 30px;  
}

#about{
   .flex-center(column);
}

#ab_content{
   padding-top: 30px;
   width: 80%;
   gap: 30px;
   
}
#ab_content {
  .flex-center(column);
}


#ab_article{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 30px;
   padding-bottom: 50px;

}

#ab_article img{ 
   width: 300px;
   height: 200px;
   border-radius: 8px;
   
}