/* Hier finden Sie Uns */

#finden{
   background-color:@color-surface ;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 60px 0;

}

.finden_uns{
   color: @color-primary;
   font-weight: 600;
   font-size: 35px;
   margin-bottom: 30px;
   text-align: center;   
}
.finden_uns p{

   margin: 0;
   text-align: center;

}

.maps{
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

.maps img{
  display:block;
  justify-content: center;
  align-items: center;
  width: 50%;  
  border-radius: 6px;

}
