/* Hero */

#hero{
   background-image: url(/img/hero.jpg);
   background-size: cover;
   height: 80vh;
}
#hero {
  .flex-center();
}

#hero_black{
   background-color: rgba(0, 0, 0, 0.306);
   color: @color-surface;
   width: 100%;
}
#hero_black {
  .flex-center(column);
}
