/* MAIN */

 *{
   box-sizing: border-box;
   
 }
 body,html{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
   
 }
 h1{
    color: @color-primary;
    font-size: 26px;
 } 

 h2{
   margin: 0;
   
 }
 h3{
   color: @color-primary;
   margin: 0;
   
 }
 h4{
   color: @color-primary; 
   margin: 0;
 }
 /* HilfCSS */
.reverse{
   flex-direction: row-reverse !important; 
}