@color-primary: #9f7ab0;
@color-primary-light: #e8d3f2;
@color-primary-dark: #4a4058;

@color-background: #faf6fd;
@color-surface: #ffffff;

@color-text-dark: #2c2533;
@color-text-light: #ffffff;

@color-border: lightgray;
@color-black: #000000;
@color-background-footer:#4e445a;